<div class="container">
    <h3>Languages</h3>
    <p>Select your language Prefernce</p>
    <div class="buttons">
        <p><button class="btn btn-sucess">Hindi</button>&nbsp;&nbsp;
            <button class="btn btn-sucess">Telugu</button>&nbsp;&nbsp;
            <button class="btn btn-sucess">Tamil</button>&nbsp;&nbsp;
        </p>
        <p><button class="btn btn-sucess">Marathi</button>&nbsp;&nbsp;
            <button class="btn btn-sucess">English</button>&nbsp;&nbsp;
            <button class="btn btn-sucess">French</button>&nbsp;&nbsp;
        </p>
    </div>
    <hr>
    <h3>Display Mode</h3>
    <p>Choose your preferred display preference</p>
    <div class="buttons">
        <button class="btn btn-sucess">Auto</button>&nbsp;&nbsp;
        <button class="btn btn-sucess">Light</button>&nbsp;&nbsp;
        <button class="btn btn-sucess">Dark</button>&nbsp;&nbsp;
    </div>
    <hr>
    <div class="store">
        <h3>Store</h3>
        <p><a class="btn btn-secondary" href="#">Log in to see oyur purchase history</a></p>
    </div>
</div>
<div>

</div>
