.content{
    padding: 15px;
    display: flex;;
}


.mat-elevation{
    background-color: rgb(175, 236, 201);
    margin: 15px;
    width: 250px;

}
.mat-header{
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
    font-weight: bold;
    position: relative; 
}